/* mystyle.css */

h1 {
    font-size: 45px;
    text-align: center;
    border-bottom: 1px solid gray;
    border-top: 10px solid aquamarine;
    margin: 0px;
    padding: 20px;
  }
  
  ol {
    border-right: 1px solid gray;
    width: 100px;
    margin: 0px;
    padding: 20px;
  }
  
  body {
    margin: 0px;
  }
  div {
    border:5px solid gray;
  }
  #grid {
    display: grid;
    grid-template-columns:150px 1fr;
  }
  @media(max-width:1000px){
    #grid {
        display: block;
    }
    h1 {
        border-bottom:none;
        font-size: 25px;
    }
    #grid ol {
        border-right: none;
    }
}

  @media(max-width:600px){
    #grid {
        display: block;
    }
    h1 {
        border-bottom:none;
        border-top: none;
        font-size: 10px;
    }
    #grid ol {
        border-right: none;
    }
  }